# Composer dependencies
/vendor/
/composer.lock

# Editor directories and files
/.idea
/.vscode
*.sublime-project
*.sublime-workspace


# Operating system files
.DS_Store
Thumbs.db

# Local environment files
/.env
/.env.backup
/.env.local

# Local Composer dependencies
composer.phar

# Log files
*.log